<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classroom</title>
    <link rel="stylesheet" href="./../style/classroom.css">
</head>
<body>
    <div class="navbar">
        <img src="./../images/logo-looka.com-removebg-preview.png" alt="">
        <ul class="left-nav">
            <a class="a1" href="https://www.google.com/">Home</a>
            <a class="a1" href="#">My Courses</a>
            <a class="a1" href="#">Leaderboard</a>
        </ul>
        <ul class="right-nav">
            <img src="../images/images-removebg-preview.png" alt="" style="width:50px; height: 50px; margin-top: -10px;">
        </ul>
    </div>
    <div class="my-courses" style="border: 2px solid black;">
        <div style="display: flex; justify-content: space-between;">
            <p style="margin-left: 10px;">MY COURSES</p>
            <button style="height: 30px; margin-top: 10px; margin-right: 10px;">Add Subject</button>
        </div>
        <div class="r-1">
            <div class="sub-box">
                <img id="alex" style="height: 80% ;width: 100%;">
                Subject-1
            </div>
            <div class="sub-box">
                Subject-2
            </div>
        </div>
        <div class="r-1">
            <div class="sub-box">
                Subject-3
            </div>
            <div class="sub-box">
                Subject-4
            </div>
        </div>  
    </div>
</body>
<script>
    const t = document.getElementById("alex");
    t.style.background = "CN";
</script>
</html>