.navbar{
    height: 8vh;
    width: auto;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    /* background:linear-gradient(to left, rgb(215, 129, 129), rgb(130, 190, 249), rgb(252, 131, 131)); */
    background-color: black;
    
}

.left-nav{
   padding-left: 0;
   display: flex;
   width: 30%;
   justify-content: space-between;
   
}

.right-nav{
    padding-left: 0%;
    display: flex;
    width: 13%;
    justify-content: space-between;
}

.logo{
    max-width: 100%;
    height: auto;
}
.a1{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a1:hover {
    color: rgb(47, 6, 227);
  }
.sub-box{
    border: 2px solid black;
    height: 300px;
    width: 40%;
}
.r-1{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}