body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar{
    height: 8vh;
    width: auto;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    background-color: black;
}

.left-nav{
    padding-left: 0%;
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
   
}

.right-nav{
    padding-left: 0%;
    display: flex;
    width: 5%;
    justify-content: space-between;

}

header h1 {
    margin: 0;
    font-size: 2em;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.pricing-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 48%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #004080;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.card-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.card-price {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

.card-features {
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.card-features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-features ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.card-footer {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 0 0 8px 8px;
}

.card-footer a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.card-footer a:hover {
    background-color: #0066cc;
}

@media (max-width: 768px) {
    .pricing-card {
        width: 100%;
    }
}
