.sign {
    
    padding: 20px 40px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #002420;
    text-align: center;
    width: 60%;
    backdrop-filter: blur(6px);
}

.sign h1 {
    margin-bottom: 20px;
    color: #333;
}

.sign input[type="text"],
.sign input[type="email"],
.sign input[type="password"],
.sign input[type="confpassword"],
.sign input[type="number"],
.sign input[type="varchar"],
.sign input[type="date"]{
    width:100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign input[type="text"]:focus,
.sign input[type="email"]:focus,
.sign input[type="password"]:focus,
.sign input[type="confpassword"]:focus,
.sign input[type="varchar"]:focus,
.sign input[type="date"]:focus{
    border-color: #007bff;
    outline: none;
}

.submit {
    margin-top: 20px;
}
.sign input[type="date"]{
    color:#666666;
}

.submit input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit input[type="submit"]:hover {
    background-color: #0056b3;
}
.forg{
    display: flex;
    justify-content: space-between;
    border: 5px soliid red;
    text-decoration: none;
    color: rgb(214, 214, 64);
    margin: 7px;
}
a{
    color: #ebaf22;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
.form1{
    display: flex;
    justify-content: space-between;
}
.sign1 , .sign2 {
    width: 40%;
    margin: 10px;
}
body{
    padding: 0px;
    margin: 0px;
}
.navbar{
    height: 8vh;
    width: auto;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    background-color: black;
    
}

.left-nav{
    padding-left: 0%;
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
   
}

.right-nav{
    padding-left: 0%;
    display: flex;
    width: 5%;
    justify-content: space-between;
    /* align-items: center; */
}

.logo{
    max-width: 100%;
    height: auto;
}
.tos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
@media (max-width: 768px) {
    .form1 {
        display: block;
    }

    .sign1, .sign2 {
        width: 100%;
        margin: 0;
    }
}