<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>JHJ-Virtual-Classroom</title>
</head>
<body>
    <div class="whole-body">
        <div class="navbar">
            <img class="Logo" src="images/logo-looka.com-removebg-preview.png" alt="">
            <ul class="left-nav">
                <a class="a1" href="#home">Home</a>
                <a class="a1" href="#about-us">About Us</a>
                <a class="a1" href="#pricing">Pricing</a>
                <a class="a1" href="#support">Support</a>
            </ul>
            <ul class="right-nav">
                <a class="a1" href="login.html">Login</a>
                <a class="a1" href="signup.html">Signup</a>
            </ul>
        </div>
        <div class="home" id="home">
            <div class="divi-1">
                <div class="how-it-works desc-box">
                    <p class="how-text">How it works?</p>
                    <p class="how-para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                        laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                        quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                        ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                         qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                         laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                    </p>
                </div>
                <div class="What-we-do desc-box">
                    <p class="how-text">What we do?</p>
                    <p class="how-para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                        laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                        quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                        ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                         qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                         laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us" id="about-us">
        <div class="divi-1">
            <div class="how-it-works desc-box">
                <p class="how-text">How it works?</p>
                <p class="how-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                    laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                    quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                    ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                     qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                     laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                </p>
            </div>
            <div class="What-we-do desc-box">
                <p class="how-text">What we do?</p>
                <p class="how-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                    laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                    quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                    ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                     qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                     laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                </p>
            </div>
        </div>
    </div>
    <div class="pricing" id="pricing">
        <div class="divi-1">
            <div class="how-it-works desc-box">
                <p class="how-text">How it works?</p>
                <p class="how-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                    laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                    quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                    ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                     qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                     laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                </p>
            </div>
            <div class="What-we-do desc-box">
                <p class="how-text">What we do?</p>
                <p class="how-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                    laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                    quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                    ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                     qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                     laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                </p>
            </div>
        </div>
    </div>
    <div class="support" id="support">
        <div class="divi-1">
            <div class="how-it-works desc-box">
                <p class="how-text">How it works?</p>
                <p class="how-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                    laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                    quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                    ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                     qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                     laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                </p>
            </div>
            <div class="What-we-do desc-box">
                <p class="how-text">What we do?</p>
                <p class="how-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                    laudantium voluptatibus facere adipisci veritatis perferendis? Excepturi, ipsa
                    quisquam. Deserunt debitis fugiat vero ratione blanditiis repellendus facere libero, 
                    ex laborum aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                     qui assumenda placeat fuga nam ipsum dolor ea! Reprehenderit dolores reiciendis 
                     laudantium, deserunt alias tempore ad consequatur ipsam assumenda veritatis neque.
                </p>
            </div>
        </div>
    </div>
</div>
    <footer> <p></p></footer>
</body>
</html>